<!-- <p>sidebar works!</p> -->
<!-- <div class="sidebar">
    <img class="sidebarimg" src="assets\Icons\petzey_logo.png" alt="Not found">

    <a routerLink="/all-appointments" > <img class="imgd"
            src="assets\Icons\Union 8.png" alt="Not found"> &nbsp; Dashboard</a>
    <a routerLink="/all-pets"> <img class="imgd" src="assets\Icons\pet icon.png" alt="Not found" srcset=""> &nbsp;
        Pets</a>
    <a routerLink="/profile"> <img class="imgd" src="assets\Icons\contact icon.png" alt="Not found"> &nbsp;
        Profile</a>
</div> -->