
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="sidebar">
                <img class="sidebarimg" src="assets\Icons\petzey_logo.png" alt="Not found">
            
                <a routerLink="/all-appointments" > <img class="imgd"
                        src="assets\Icons\Union 8.png" alt="Not found"> &nbsp; Dashboard</a>
                <a routerLink="/all-pets"> <img class="imgd" src="assets\Icons\pet icon.png" alt="Not found" srcset=""> &nbsp;
                    Pets</a>
                <a routerLink="/profile"> <img class="imgd" src="assets\Icons\contact icon.png" alt="Not found"> &nbsp;
                    Profile</a>
            </div>
        </div>
        <div class="col-10">
            <div class="navS">
                <div class="navbar">
                    <div class="">
                        <p class="Name"><b>Sally Mae</b></p>
                        <p class="logout" style="color: #98A2B3; margin-top: 0px;
                        ">Logout</p>
                    </div>
                    <img  class="navbar img" src="assets\doctors\Ellipse 1.png" alt="Not found">
                </div>
            <router-outlet></router-outlet> 
        </div>
    </div>
</div>