<!-- <p>editprofile works!</p> -->

<!-- /Page Wrapper -->

<div class="bdy">
  <div class="pof1">
    <h3>Edit Profile</h3>
     <p class="tt">Update Account details.</p>
     
     <div class="profImg">
      <div class="prof">
        <img src="assets\doctors\Ellipse 1.png" alt="Not found">
      </div>

      <div class="dataNm">
        <p>Name</p>
        <input type="text" placeholder="Owner Name">
      </div>
     </div>
     

    <p class="spcTxt">Gender</p>
    <div class="spcis">

     <input  type="radio" class="radio" name="sp"><p>Mr</p>
     <input type="radio" class="radio" name="sp"> <p>Mrs</p>
     <input type="radio" class="radio" name="sp"><p>Other</p>
   </div>
    
   <div class="dobAgr">
   </div>
   <div>
    <p class="bd">Mobile</p>
    <select > <option >+44</option>
      <option >+91</option>
      <option >+12</option>
      <option >+84</option>
      <option >+69</option></select>
    <input class="agg" type="text">

  </div>
  <div>
    <p class="bd">Location</p>
    <textarea class="aggg" type="text"></textarea>

  </div>
  <div class="btn">
      <button class="can"  (click)="onCancel()" >Cancel</button> &nbsp;
      <button class="con">Confirm</button>

  </div>
    
    </div>
</div>

