<!-- <p>addpet works!</p> -->

<div class="bdy">
  <div class="pof1">
    <h3>Edit Pet Profile</h3>
     <p class="tt">Update pet details.</p>
     
     <div class="profImg">
      <div class="prof">
        <img src="assets\pets\pet 1.jpg" alt="Not found">
      </div>
      <div class="dataNm">
        <p>Name</p>
        <input type="text" placeholder="Pet Name">
      </div>
     </div>

     <p class="spcTxt">Species</p>
     <div class="spcis">
      <input type="radio" name="rad" ><p>Dog</p>
      <input type="radio" name="rad"> <p>Cat</p>
      <input type="radio" name="rad"><p>Reptile</p>
      <input type="radio" name="rad"> <p>Other</p>
    </div>

    <p class="spcTxt">Gender</p>
    <div class="spcis">
     <input  type="radio" name="sp"><p>Male</p>
     <input type="radio" name="sp"> <p>Female</p>
     <input type="radio" name="sp"><p>Neutered</p>
   </div>
    
   <div class="dobAgr">
   
    <div>
      <p class="dt">Date of Birth</p>
      <input class="dtt" type="date">

    </div>

    <div>
      <p class="dt">Age</p>
      <input class="agg" type="text">

    </div>
   </div>
   <div>
    <p class="bd">Blood Group</p>
    <input class="agg" type="text">

  </div>
  <div>
    <p class="bd">Allergies</p>
    <input class="aggg" type="text">

  </div>
  <div class="btn">
      <button class="can" (click)="onCancel()">Cancel</button>&nbsp;
      <button class="con">Confirm</button>

  </div>
    
    </div>
</div>